<mat-card class="mat-whiteframe-2dp">

  <mat-card-title>
    <span *ngIf="isUpdateMode" >Update {{ model?.firstname }} {{ model?.lastname }}</span>
    <span *ngIf="!isUpdateMode">Create new person</span>
  </mat-card-title>

  <mat-card-content>
    <form #f="ngForm">

      <p *ngIf="isUpdateMode">
        <mat-input-container>
              <input [ngModel]="model.id" mdInput style="width:100%" placeholder="ID (disabled)" disabled  name="id">
        </mat-input-container>        
      </p>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
           <mat-input-container>
              <input [(ngModel)]="model.firstname" mdInput placeholder="First name *" name="firstname">
            </mat-input-container>
            <mat-input-container>
              <input [(ngModel)]="model.lastname" mdInput placeholder="Last Name *" name="lastname">
            </mat-input-container>
          </td>
          <td class="align-right">
            <img width="100" src="{{ model.photo || 'https://randomuser.me/api/portraits/lego/6.jpg' }}"/>
            <input type="hidden" [(ngModel)]="model.photo" name="photo">
          </td>
        </tr>
      </table>

      <p>
        <mat-input-container>
            <input [(ngModel)]="model.email" mdInput placeholder="Email *" style="width:100%" name="email">
        </mat-input-container>        
      </p>

  
      <p ngModelGroup="address">
        <mat-input-container>
            <input [(ngModel)]="model.address.street" mdInput placeholder="Address" style="width:100%" name="street">
        </mat-input-container>
      </p>

      <p ngModelGroup="address">
        <mat-input-container>
            <input [(ngModel)]="model.address.city" mdInput placeholder="City" name="city">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="model.address.postalCode" mdInput placeholder="Postal Code" name="postalCode">
        </mat-input-container>
      </p>

      <p>
        <mat-input-container>
            <input [(ngModel)]="model.phone" mdInput placeholder="Phone * (ex: 0612345678)" style="width:100%" name="phone">
        </mat-input-container>
      </p>

      <p>
        <mat-checkbox name="isManager" [(ngModel)]="model.isManager">Manager</mat-checkbox>
      </p>

    </form>
  </mat-card-content>


  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submit()">Save</button>
  </mat-card-actions>

</mat-card>