<sfeir-search></sfeir-search>

<section [ngSwitch]="view">

  <section *ngSwitchCase="'card'">
    <sfeir-card *ngFor="let person of people" [person]="person" (personDelete)="delete($event)"></sfeir-card>
  </section>


  <section *ngSwitchCase="'list'">
    <md-list>
      <md-list-item (click)="navigate(person)" *ngFor="let person of people" class="md-whiteframe-2dp md-card">
        <img md-list-avatar src="{{ person.photo }}">
        <h3 md-line> {{person.firstname}} {{person.lastname}}
          <span sfeir-badge [person]="person"></span>
        </h3>
        <p md-line>
          <span> {{person.entity}} </span>
          — <span>{{person.email}} </span>
        </p>
      </md-list-item>
    </md-list>
  </section>

</section>


<button (click)="showDialog()" *ngIf="dialogStatus == 'inactive'" mat-fab color="accent">
  <i class="material-icons">add</i>
</button>
